<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <h2 :style="{'color': colors[i%3]}">It's fun</h2>
                <!-- <button v-on:click.self="i++">Change color</button> -->
                <button v-myon:click="changeColor" class="btn btn-primary">My Directive</button>
                <hr>
                <div v-myon:mouseenter="'green'" v-myon:mouseleave class="green-square"></div>
                <div v-myon:mouseenter="'darkcyan'" v-myon:mouseleave v-move:right.delay="'300px'" class="green-square"></div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                hidden: true,
                i: 0,
                colors: ["red", "green", "blue"],
            }
        },
        methods: {
            changeColor() {
                this.i++;
            }
        },
        directives: {
            'move': {
                bind(el, binding) {
                    let delay = 0;
                    if(binding.modifiers['delay']) {
                        delay = 1000;
                    }
                    if(binding.arg == 'right') {
                        setTimeout(()=>{
                        el.style.marginLeft = binding.value;
                        }, delay);
                    }
                }
            }
        }
    }
</script>

<style>
    .green-square {
        width: 100px;
        height: 100px;
        margin-left: 0;
        margin-top: 10px;
        background-color: lightcoral;
        color: darkcyan;
        transition: margin 1s ease-out 0.5s;
    }
</style>
